/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  /* Add a simple border to the bottom of the navbar */
  border-bottom: solid 1px lightgray;
}

.chat-message {
  /* Make our chat messages look like what you'd expect */
  width: fit-content;
  padding: 10px;
  max-width: 60%;
}

.conversation-container {
  height: 50vh;
  overflow-y: scroll;
  padding-right: 20px;
}
