<%= render "start_modal", chatbot: @chatbot %>
<%= button_to "Finish Test",
finish_chatbot_path(@chatbot),
method: :patch,
class: "button is-link",
form: {
  data: {
    turbo_confirm: "Are you sure you want to finish your test?",
  },
} %>
<!--
<br>

<div>
  <%= link_to "Show this chatbot", @chatbot %>
  |
  <%= link_to "Back to chatbots", chatbots_path %>
</div>
-->
